<!DOCTYPE html>
<html lang="en">
  <head>
      <!-- Meta Properties -->
      <meta name="robots" content="index, follow">        
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="description" content="The multi-service portal of FCRIT caters to services like Railway Concession, Bonafide Certificate, Internship Permission, and LoR Eligibility Request.">
      <meta name="keywords" content="Railway Concession Form, College Railway Concession Form, FCRIT Railway Concession, Internship Permission Form, LOR Eligibility Form, Bonafide Certificate Form, FCRIT Campus Service">
      <meta name="author" content="Tony Thomas">
      <meta property="og:title" content="Campus Service - Fr. C. Rodrigues Institute of Technology">
      <meta property="og:url" content="https://fcs.fcrit.ac.in">
      <meta property="og:description" content="The multi-service portal of FCRIT caters to services like Railway Concession, Bonafide Certificate, Internship Permission, and LoR Eligibility Request.">
      <meta property="og:type" content="website">
      <meta property="og:image" content="https://fcs.fcrit.ac.in/dist/img/fcrit-share.webp">
      <meta property="og:site_name" content="FCRIT Campus Service">
      <meta name="twitter:card" content="summary">
      <meta name="twitter:site" content="https://fcs.fcrit.ac.in">
      <meta name="twitter:title" content="Campus Service - Fr. C. Rodrigues Institute of Technology">
      <meta name="twitter:description" content="The multi-service portal of FCRIT caters to services like Railway Concession, Bonafide Certificate, Internship Permission, and LoR Eligibility Request.">
      <meta name="twitter:image" content="https://fcs.fcrit.ac.in/dist/img/fcrit-share.webp">  
      <meta name="apple-mobile-web-app-title" content="FCRIT Campus Service">
      <meta name="theme-color" content="#007bff">
    <title><%= title %></title>
      <link rel="canonical" href="https://fcs.fcrit.ac.in/">
      <link rel="shortcut icon" href="https://fcs.fcrit.ac.in/dist/img/favicon.ico" type="image/x-icon">
      <link rel="apple-touch-icon" href="https://fcs.fcrit.ac.in/dist/img/apple-icons/touch-icon-iphone.png">
      <link rel="apple-touch-icon" sizes="152x152" href="https://fcs.fcrit.ac.in/dist/img/apple-icons/touch-icon-ipad.png">
      <link rel="apple-touch-icon" sizes="167x167" href="https://fcs.fcrit.ac.in/dist/img/apple-icons/touch-icon-ipad-retina.png">
      <link rel="apple-touch-icon" sizes="180x180" href="https://fcs.fcrit.ac.in/dist/img/apple-icons/touch-icon-iphone-retina.png">
      <link rel="apple-touch-startup-image" href="https://fcs.fcrit.ac.in/dist/img/apple-icons/launch.png">
      <!-- Font Awesome Icons -->
      <link rel="stylesheet" href="https://fcs.fcrit.ac.in/plugins/fontawesome-free/css/all.min.css" media="all" onload="this.media='all'; this.onload = null">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
      <!-- Theme style -->
      <link rel="stylesheet" href="https://fcs.fcrit.ac.in/dist/css/adminlte.min.css">
      <!-- Main style -->
      <link rel="stylesheet" href="https://fcs.fcrit.ac.in/dist/css/style.min.css?838427940">
  </head>


<body class="login-page" style="min-height: 425.4px;">
  <div class="login-box mb-4">
      <div class="card card-outline card-primary shadow">
          <div class="login-logo mt-2">
              <img style="content: url(https://fcs.fcrit.ac.in/dist/img/fcritlogo.webp)" width="55" height="50"> <span style="font-weight: 700;">Campus</span> Service 
          </div>
          <div class="card-body login-card-body">
              <form action="/update/new" method="post">
                  <div class="form-group input-group mb-3">
                      <input type="text" id="username" name="username" class="form-control" placeholder="Username, roll number, or email" autocomplete="off" value="">
                      <div class="input-group-append">
                          <div class="input-group-text">
                              <span class="fas fa-user-tie"></span>
                          </div>
                      </div>
                  </div>
                  <div class="form-group input-group mb-3">
                      <input type="password" id="password" name="password" class="form-control" spellcheck="false" autocorrect="off" autocapitalize="off" maxlength="51" placeholder="Password">
                      <button id="toggle-password" type="button" class="d-none"></button>
                      <div class="input-group-append">
                          <div class="input-group-text">
                              <span class="fas fa-lock"></span>
                          </div>
                      </div>
                  </div>
                  <div class="form-group input-group mb-3">

                  </div>
                  <div class="row mb-2">
                      <div class="col-12">
                          <button type="submit" class="btn btn-primary btn-block submit" name="signIn">Sign In</button>
                      </div>
                  </div>
              </form>
         

              <div class="row text-center">
                  <div class="col-12">
                      Made with <i class="fa-solid fa-heart" style="color: #dc2b45;"></i> by <a href="https://fcs.fcrit.ac.in/developers" target="_blank"><strong>Team <i>Zer0</i></strong></a> 
                  </div>
              </div>
          </div>
      </div>
  </div>
  <script src="https://fcs.fcrit.ac.in/plugins/jquery/jquery.min.js"></script>
  <script src="https://fcs.fcrit.ac.in/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="https://fcs.fcrit.ac.in/plugins/jquery-validation/jquery.validate.min.js"></script>
  <script src="https://fcs.fcrit.ac.in/dist/js/form.validate.min.js?838427942"></script>
  <script async="" src="https://www.googletagmanager.com/gtag/js?id=G-DEWWZEFQ6R"></script>
  <script defer="" src="https://fcs.fcrit.ac.in/dist/js/adminlte.min.js"></script>
  <script src="https://fcs.fcrit.ac.in/dist/js/script.min.js?838427941"></script>
</body>

</html>